/* .header{
    display: flex;
    justify-content: space-between;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
    cursor: pointer;
}

.header{
    border: 1px solid black;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
:root{
    --primary-color:#15605e;
}
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}
.logo {
    width: 80px;
}
.head {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    padding:2rem;
    justify-content: space-between;
}
.nav-items ul{
    display: flex;
    gap: 2rem;
    padding: 0;
}
.nav-items ul li{
    list-style: none;
} 
.search-container{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.search-input{
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid #1f938f;
    
}
.search-input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}
.search-btn {
    padding: .5rem 1rem;
    border:none;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;

}
.search-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}
.restaurant-list{
    width:90%;
    margin:2rem  auto;
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
}
.card {
    width:200px;
    height: 300px;
    padding: .5rem;
    box-shadow: 0 1px 0 0 rgb(185, 183, 183);
}
.card:hover{
    transition: .5s ease;
    transform: translate(-1px, -1px);
    box-shadow: 0px 2px 2px 0 gray;
}

.card > img {
    width:100%;
}

.demo-card{
    width:300px;
    height:300px;
    /* background-color:#ddd; */
    /* background:linear-gradient(90deg, #ddd,#fff,#ddd); */
    animation:load 3s ease-in-out infinite running;
}

@keyframes load {
    0%     {background-color:#ddd;}
    50.0%  {background-color:#f4f4f4;}
    100.0%  {background-color:#ddd;}
    /* 0%     {background:linear-gradient(90deg, #ddd,#fff,#ddd);}
    50.0%  {background:linear-gradient(90deg, #fff,#ddd,#fff);}
    100.0%  {background:linear-gradient(90deg, #ddd,#fff,#ddd);} */
}

.footer {
    text-align:center;
    margin: 0;
    padding: 1rem;
    background-color: var(--primary-color);
    color:white;
}